@import "../../public/font/font-family.css";

html,
body {
  font-family: karla;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: auto;
}

.Image-Alignment {
  width: 100%;
  height: 100%;
}
.Image-fit {
  object-fit: cover;
}
